footer {
    text-align: center;
    background-color: #0266D6;
    position: relative;
    height: 100px;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 10px;
}

#contact_footer {
    position: absolute;
}
